CONFIG PROHIBIT=P144;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P60;

NET CLK            LOC="P94"  | IOSTANDARD=LVTTL | PERIOD=31.25ns;               # CLK
#NET RX             LOC="P101" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # RX
#NET TX             LOC="P105" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # TX
NET di             LOC="P48"  | IOSTANDARD=LVTTL;                                # A0
NET en             LOC="P51"  | IOSTANDARD=LVTTL;                                # A1
NET do             LOC="P58"  | IOSTANDARD=LVTTL;                                # A3
NET sclk           LOC="P134" | IOSTANDARD=LVTTL;                                # C15

NET l(3)           LOC="P114" | IOSTANDARD=LVTTL;                                # C0
NET l(2)           LOC="P116" | IOSTANDARD=LVTTL;                                # C2
NET l(1)           LOC="P118" | IOSTANDARD=LVTTL;                                # C4
NET l(0)           LOC="P120" | IOSTANDARD=LVTTL;                                # C6
